/* Definovanie premenných pre farby */
:root {
 /*    --color-low: black;
    --color-medium-text: white;
    --color-medium-bg: blue;
    --color-high-bg: orange;
    --color-critical-bg: red; */

    
    --color-low: #495057; /* tmavšia sivá */
    --color--white: white;  
    --color-medium-text: #ffffff;
    --color-medium-bg: #7286d3; /* tlmená pastelová modrá */
    --color-high-bg: #e4a07e; /* tlmená pastelová oranžová */
    --color-critical-bg: #e88b8b; /* tlmená pastelová červená */
    --color-badge-border: #d1d1d1;
}

/* Základný štýl pre všetky úrovne */
.status {
    color: var(--color-low); /* Predvolená farba textu */
    font-weight: bold;
}

/* Stredná úroveň - Medium */
.medium {
    background-color: var(--color-medium-bg);
    color: var(--color-medium-text);
    padding: 5px;
    border-radius: 4px;
}

/* Vysoká úroveň - High */
.high {
    background-color: var(--color-high-bg);
    color: var(--color-medium-text);
    padding: 5px;
    border-radius: 4px;
}

/* Kritická úroveň - Critical */
.critical {
    background-color: var(--color-critical-bg);
    color: var(--color-medium-text);
    padding: 5px;
    border-radius: 4px;
}

/* Nízka úroveň - Low */
.low {
    background-color: var(--color-white);
    padding: 5px;
    border-radius: 4px;
    color:#555;
    border:1px solid;
    border-color: var(--color-badge-border);
}

.idea_status,.idea_priority {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 6px;
    width: 100px;
    cursor: pointer;
}

.idea_status {
    border:1px #d1d1d1 solid;
    
}

.idea_comment_new form {
    display: flex;
    flex-direction: column;
}

.idea_comment_new form input, .idea_comment_new form textarea {
    width: 100%;
    margin-bottom: 10px;
    background-color: #eee;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    padding:10px;
    width: 150px;
}

dialog ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

dialog ul li:hover {
    background-color: lightgray;
    cursor: pointer;
}

dialog.show {
 
}